[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pytest = "*"
"8467927" = {path = "./tasks_proj", editable = true}


[dev-packages]



[requires]

python_version = "3.7"
